.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-family: "Courier New", "Courier", monospace;
  font-size: 78px;
  margin-top: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  background-color: rgba(112, 76, 182, 0.1);
  border: 2px solid;
  border-radius: 2px;
  color: rgb(112, 76, 182);
  font-size: 32px;
  padding: 4px 12px 4px 12px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  margin-right: 8px;
  padding: 2px;
  text-align: center;
  width: 64px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  margin-left: 8px;
  position: relative;
}

.asyncButton::after {
  background-color: rgba(112, 76, 182, 0.15);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
  width: 100%;
}
