.menuColor {
  background-color: #05426f;
  border-bottom: 0 !important;
  color: rgba(255, 255, 255, 0.85) !important;
  font-weight: bold;
  height: 90%;
}

.menuColor .fontColor {
  color: rgba(255, 255, 255, 0.85) !important;
}

.parentHeight {
  height: 100%;
}
