.container {
  margin: 0 4rem;
}

.productsContainer {
  min-height: 40vh;
}

.colContainer {
  border: 1px solid #cccccc;
  max-height: calc(40vh + 140px);
  min-width: 600px;
}

.fatherWidth {
  width: 100%;
}

.predictionCard {
  margin: 0 auto;
  max-width: 40vw;
  width: 50vw;
}

.verticallyCentered {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlightedText {
  color: #0d72ba;
}

.highlightedBig {
  color: #0d72ba;
  font-size: 1.5rem;
}

.bottomAligned {
  margin-bottom: 0 !important;
}

.leftAligned {
  text-align: left;
}

.fixedRow {
  background-color: #eaedf5;
  padding: 0.8rem 0;
}

.paginationContainer {
  margin: 0 auto;
  text-align: center;
}

.pagination {
  text-align: center;
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.fullLength {
  width: 100%;
}

.tooltipBox {
  background: white;
  border: 1px solid #cccccc;
  font-size: 15px;
  padding: 9px 12px;
}

.chartTitle {
  margin: 10px;
  text-align: center;
}
