.bottomAligned {
  margin-bottom: 0 !important;
}

.fixedRow {
  background-color: #eaedf5;
  padding: 0.8rem 0;
}

.percentageTitle {
  margin-bottom: 0 !important;
}

.sinceText {
  display: block;
  margin-bottom: 10px !important;
}

.servicesCard {
  padding: 1.5rem 0;
}
