.container {
  margin: 0 4rem;
}

.dividerA {
  border-top: 2px solid rgb(173, 173, 173);
}

.fatherWidth {
  width: 100%;
}

.orangeAvatar {
  background-color: #f56a00;
  vertical-align: middle;
}

.contactTitle {
  margin: 0.5em 0;
}

.colContainer {
  border: 1px solid;
  min-height: 60vh;
}

.notificationContainer {
  max-height: 60vh;
  overflow-y: auto;
}

.fixedRow {
  background-color: #eaedf5;
  padding: 0.8rem 0;
}

.bottomAligned {
  margin-bottom: 0 !important;
}
