.googleButton {
  font-size: 1.5rem !important;
  width: 17rem;
}

.rowCentered {
  min-height: 10vh;
}

.bottomAligned {
  margin-bottom: 0 !important;
}

.chartContainer {
  height: 33rem;
}

.parentHeight {
  height: 100%;
}
