.container {
  background-color: #eaedf5;
  margin-top: 50px;
  padding: 3em 0;
}

.pageContainer {
  min-height: 90vh;
}

.fixNavBar {
  background-color: #05426f;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.footer {
  background-color: #eaedf5;
  text-align: center;
}
